# Private key for signing transactions
# This should be the private key (without 0x prefix) used to authenticate with the Mimic SDK
PRIVATE_KEY=your_private_key_here

# Signer address for task configurations
# This should be the Ethereum address that will be used as the signer for the configs
SIGNER=0x0000000000000000000000000000000000000000

